.pop-up-product {
  width: 80vw;
  display: block;
  margin: auto;
  background-color: white;
}

.pasdeproduit {
  font-family: "Shadows Into Light";
  color: #3d3d3d;
  font-size: 25px;
  font-weight: 200;
}
.text-modale-pas-produit {
  font-family: "Noto Sans";
  color: #3d3d3d;
}
.btn-pas-produit {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 8px 30px;
  font-family: "Inria Sans";
  font-size: 20px;
  transition: transform 0.3s ease;
  min-width: 20px;
}

.modal-content {
  border-radius: 0 !important;
}
.pasdeproduitinfo {
  font-family: "Inria Sans";
  color: #3d3d3d;
  font-size: 35px;
  font-weight: 200;
}
.modal-footer .border-top {
  border-top: 0 !important;
}

.modal-footer button {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 8px 30px;
  font-family: "Inria Sans";
  font-size: 20px;
  transition: transform 0.3s ease;
  min-width: 20px;
  border-radius: 0 !important;
}

.modal-footer button:hover {
  background-color: white;
  color: #3d3d3d;
  border: 1px solid black;
  padding: 8px 30px;
  font-family: "Inria Sans";
  font-size: 20px;
  transition: transform 0.3s ease;
  min-width: 20px;
  border-radius: 0 !important;
}

/* BLOCK LEFT. */
.pop-up-product > .block-left {
  height: 50%;
  font-family: "Inria Sans";
}

.pop-up-product > .block-left > img {
  width: 100%;
}

/* BLOCK RIGHT. */
.pop-up-product > .block-right {
  height: 50%;
  display: block;
}

.pop-up-product > .block-right > .title {
  color: black;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Inria Sans";
  line-height: 1.5;
}

.pop-up-product > .block-right > .description {
  color: #3d3d3d;
  font-family: "Noto Sans";
}

.pop-up-product
  > .block-right
  > .which-ingredients
  > .show-ingredients
  > button {
  display: flex;
  font-weight: 700;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.pop-up-product
  > .block-right
  > .which-ingredients
  > .show-ingredients
  > button
  > img {
  height: 25px;
  width: 25px;
}

/* BUTTONS. */

.pop-up-product > .block-right > .buttons-action > .back-to-diagnostic {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 8px 30px;
  font-family: "Inria Sans";
  font-size: 20px;

  transition: transform 0.3s ease;
  min-width: 20px;
}

.pop-up-product > .block-right > .which-ingredients {
  margin-bottom: 50px;
}

/* CATEGORY INGREDIENTS. */
.pop-up-product > .block-right > .which-ingredients > .show-ingredients {
  margin-bottom: 30px;
}

.pop-up-product > .block-right > .which-ingredients > .ingredients {
  overflow-y: scroll;
  max-height: 200px;
}

.pop-up-product > .block-right > .which-ingredients > .ingredients > ul > li {
  color: #3d3d3d;
  font-size: 0.8rem;
  margin-bottom: -15px;
}

/* FORMAT TABLETTE. */
@media screen and (min-width: 722px) and (max-width: 1200px) {
  /* BLOCK LEFT. */
  .pop-up-product > .block-left > img {
    display: flex;
    width: 60%;
    margin: auto;
  }

  /* BLOCK RIGHT. */
  .pop-up-product > .block-right {
    padding: 40px;
    font-family: "Inria Sans";
  }
}

/* FORMAT DESKTOP. */
@media screen and (min-width: 1200px) {
  .pop-up-product {
    /* height: 500px;
        width: 1000px; */
    /* height: 80vh; */
    /* height: 600px; */
    max-width: 80vw;
    display: flex;
    margin: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  /* BLOCK LEFT. */
  .pop-up-product > .block-left {
    width: 50%;
    display: flex;
  }

  .pop-up-product > .block-left > img {
    width: 80%;
    margin: auto;
  }

  /* BLOCK RIGHT. */
  .pop-up-product > .block-right {
    background-color: #f5f5f5;
    width: 50%;
    display: block;
    padding: 50px;
  }

  .pop-up-product > .block-right > .title {
    width: 80%;
    font-family: "Inria Sans";
    font-weight: 500;
    line-height: 1.2;
  }
}
